<!doctype html>
<html amp lang="en">

<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
  <title>AMP Story Linter</title>
  <link rel="canonical" href="{{canonical}}">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  {{{boilerplate}}}
  <style amp-custom>
    @font-face {
      font-family: "iA Writer Quattro";
      font-weight: normal;
      font-style: normal;
      src: url("/fonts/iAWriterQuattroS-Regular.eot") format("embedded-opentype"), url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2"), url("/fonts/iAWriterQuattroS-Regular.woff") format("woff")
    }

    @font-face {
      font-family: "iA Writer Quattro";
      font-weight: normal;
      font-style: italic;
      src: url("/fonts/iAWriterQuattroS-Italic.eot") format("embedded-opentype"), url("/fonts/iAWriterQuattroS-Italic.woff2") format("woff2"), url("/fonts/iAWriterQuattroS-Italic.woff") format("woff")
    }

    @font-face {
      font-family: "iA Writer Quattro";
      font-weight: bold;
      font-style: normal;
      src: url("/fonts/iAWriterQuattroS-Bold.eot") format("embedded-opentype"), url("/fonts/iAWriterQuattroS-Bold.woff2") format("woff2"), url("/fonts/iAWriterQuattroS-Bold.woff") format("woff")
    }

    @font-face {
      font-family: "iA Writer Quattro";
      font-weight: bold;
      font-style: italic;
      src: url("/fonts/iAWriterQuattroS-BoldItalic.eot") format("embedded-opentype"), url("/fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"), url("/fonts/iAWriterQuattroS-BoldItalic.woff") format("woff")
    }

    html {
      line-height: 1.15;
      -webkit-text-size-adjust: 100%
    }

    body {
      margin: 0
    }

    h1 {
      font-size: 2em;
      margin: .67em 0
    }

    a {
      background-color: transparent
    }

    abbr[title] {
      border-bottom: none;
      text-decoration: underline;
      text-decoration: underline dotted
    }

    input {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0
    }

    input {
      overflow: visible
    }

    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button
    }

    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0
    }

    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
      outline: 1px dotted ButtonText
    }

    [type="checkbox"],
    [type="radio"] {
      box-sizing: border-box;
      padding: 0
    }

    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
      height: auto
    }

    [type="search"] {
      -webkit-appearance: textfield;
      outline-offset: -2px
    }

    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none
    }

    ::-webkit-file-upload-button {
      -webkit-appearance: button;
      font: inherit
    }

    [hidden] {
      display: none
    }

    html {
      font-size: 22px
    }

    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #111;
      font-family: "iA Writer Quattro", sans-serif;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.8;
      margin: 0;
      text-rendering: optimizeLegibility
    }

    input {
      color: #111;
      font-family: "iA Writer Quattro", sans-serif;
      font-weight: 400;
      line-height: 1.8;
      text-rendering: optimizeLegibility
    }

    .entry-footer,
    .site-title,
    .site-info,
    h1,
    h2 {
      font-family: "iA Writer Quattro", sans-serif
    }

    .site-title,
    h1,
    h2 {
      font-weight: 700;
      letter-spacing: -.02em;
      line-height: 1.2;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
    }

    .site-branding {
      line-height: 1.25
    }

    h1 {
      font-size: 2.25em
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 2.8125em
      }
    }

    .entry-title,
    h2 {
      font-size: 1.6875em
    }

    @media only screen and (min-width: 768px) {

      .entry-title,
      h2 {
        font-size: 2.25em
      }
    }

    .site-title,
    .site-description {
      font-size: 1.125em
    }

    .entry-footer,
    .site-info {
      font-size: .71111em
    }

    .site-title {
      font-weight: normal
    }

    .site-description {
      letter-spacing: -.01em
    }

    .entry-title {
      hyphens: auto;
      word-break: break-word
    }

    @media only screen and (min-width: 768px) {
      .entry-title {
        hyphens: none
      }
    }

    p {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
    }

    abbr {
      border-bottom: 1px dotted #666;
      cursor: help
    }

    a {
      text-decoration: none
    }

    a:hover {
      text-decoration: none
    }

    a:focus {
      text-decoration: underline
    }

    html {
      box-sizing: border-box
    }

    ::-moz-selection {
      background-color: #bfdcea
    }

    ::selection {
      background-color: #bfdcea
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit
    }

    body {
      background-color: #fff
    }

    a {
      transition: color 110ms ease-in-out;
      color: #0073aa
    }

    a:hover,
    a:active {
      color: #005177;
      outline: 0;
      text-decoration: none
    }

    a:focus {
      outline: thin;
      outline-style: dotted;
      text-decoration: underline
    }

    h1,
    h2 {
      clear: both;
      margin: 1rem 0
    }

    h1:not(.site-title):before,
    h2:before {
      background: #767676;
      content: " ";
      display: block;
      height: 2px;
      margin: 1rem 0;
      width: 1em
    }

    ul {
      padding-left: 1rem
    }

    ul {
      list-style: disc
    }

    ul ul {
      list-style-type: circle
    }

    li {
      line-height: 1.8
    }

    li>ul {
      padding-left: 2rem
    }

    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      transition: background 150ms ease-in-out;
      background: #0073aa;
      border: none;
      border-radius: 5px;
      box-sizing: border-box;
      color: #fff;
      font-family: "iA Writer Quattro", sans-serif;
      font-size: .88889em;
      font-weight: 700;
      line-height: 1.2;
      outline: none;
      padding: .76rem 1rem;
      text-decoration: none;
      vertical-align: bottom
    }

    input[type="button"]:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover {
      background: #111;
      cursor: pointer
    }

    input[type="button"]:visited,
    input[type="reset"]:visited,
    input[type="submit"]:visited {
      color: #fff;
      text-decoration: none
    }

    input[type="button"]:focus,
    input[type="reset"]:focus,
    input[type="submit"]:focus {
      background: #111;
      outline: thin dotted;
      outline-offset: -4px
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"] {
      -webkit-backface-visibility: hidden;
      background: #fff;
      border: solid 1px #ccc;
      box-sizing: border-box;
      outline: none;
      padding: .36rem .66rem;
      -webkit-appearance: none;
      outline-offset: 0;
      border-radius: 0
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    input[type="number"]:focus,
    input[type="tel"]:focus,
    input[type="range"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="week"]:focus,
    input[type="time"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="color"]:focus {
      border-color: #0073aa;
      outline: thin solid rgba(0, 115, 170, .15);
      outline-offset: -4px
    }

    input[type="search"]::-webkit-search-decoration {
      display: none
    }

    a {
      transition: color 110ms ease-in-out;
      color: #0073aa
    }

    a:visited {
      color: #0073aa
    }

    a:hover,
    a:active {
      color: #005177;
      outline: 0;
      text-decoration: none
    }

    a:focus {
      outline: thin dotted;
      text-decoration: underline
    }

    @keyframes slide_in_right {
      100% {
        transform: translateX(0%)
      }
    }

    @keyframes fade_in {
      from {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }

    .screen-reader-text {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      width: 1px
    }

    :root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) .screen-reader-text {
      position: absolute;
      word-wrap: normal
    }

    .screen-reader-text:focus {
      background-color: #f1f1f1;
      border-radius: 3px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
      clip-path: none;
      color: #21759b;
      display: block;
      font-size: 14px;
      font-size: .875rem;
      font-weight: bold;
      height: auto;
      left: 5px;
      line-height: normal;
      padding: 15px 23px 14px;
      text-decoration: none;
      top: 5px;
      width: auto;
      z-index: 100000
    }

    :root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) .screen-reader-text:focus {
      clip: auto
    }

    #content[tabindex="-1"]:focus {
      outline: 0
    }

    .entry-content:before,
    .entry-content:after,
    .site-header:before,
    .site-header:after,
    .site-content:before,
    .site-content:after,
    .site-footer:before,
    .site-footer:after {
      content: "";
      display: table;
      table-layout: fixed
    }

    .entry-content:after,
    .site-header:after,
    .site-content:after,
    .site-footer:after {
      clear: both
    }

    #page {
      width: 100%
    }

    .site-content {
      overflow: hidden
    }

    .site-header {
      padding: 1em
    }

    @media only screen and (min-width: 768px) {
      .site-header {
        margin: 0;
        padding: 3rem 0
      }
    }

    .site-branding {
      color: #767676;
      position: relative
    }

    @media only screen and (min-width: 768px) {
      .site-branding {
        margin: 0 calc(10% + 60px)
      }
    }

    .site-title {
      margin: auto;
      display: inline;
      color: #111
    }

    .site-title a {
      color: #111
    }

    .site-title a:link,
    .site-title a:visited {
      color: #111
    }

    .site-title a:hover {
      color: #4a4a4a
    }

    @media only screen and (min-width: 768px) {
      .site-title {
        display: inline
      }
    }

    .site-title:not(:empty)+.site-description:not(:empty):before {
      content: "—";
      margin: 0 .2em
    }

    .site-description {
      display: inline;
      color: #767676;
      font-weight: normal;
      margin: 0
    }

    .updated:not(.published) {
      display: none
    }

    .entry {
      margin-top: calc(6 * 1rem)
    }

    .entry:first-of-type {
      margin-top: 0
    }

    .entry .entry-header {
      margin: calc(3 * 1rem) 1rem 1rem;
      position: relative
    }

    @media only screen and (min-width: 768px) {
      .entry .entry-header {
        margin: calc(3 * 1rem) calc(10% + 60px) 1rem
      }
    }

    .entry .entry-title {
      margin: 0
    }

    .entry .entry-title:before {
      background: #767676;
      content: " ";
      display: block;
      height: 2px;
      margin: 1rem 0;
      width: 1em
    }

    .entry .entry-title a {
      color: inherit
    }

    .entry .entry-title a:hover {
      color: #4a4a4a
    }

    .entry .entry-footer {
      color: #767676;
      font-weight: 500
    }

    .entry .entry-footer>span {
      margin-right: 1rem;
      display: inline-block
    }

    .entry .entry-footer>span:last-child {
      margin-right: 0
    }

    .entry .entry-footer a {
      transition: color 110ms ease-in-out;
      color: currentColor
    }

    .entry .entry-footer a:hover {
      text-decoration: none;
      color: #0073aa
    }

    .entry .entry-footer .svg-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: .5em
    }

    .entry .entry-footer {
      margin: calc(2 * 1rem) 1rem 1rem
    }

    @media only screen and (min-width: 768px) {
      .entry .entry-footer {
        margin: 1rem calc(10% + 60px) calc(3 * 1rem);
        max-width: calc(8 * (100vw / 12) - 28px)
      }
    }

    @media only screen and (min-width: 768px) {
      .entry .entry-footer {
        max-width: calc(6 * (100vw / 12) - 28px)
      }
    }

    .entry .entry-content {
      max-width: calc(100% - (2 * 1rem));
      margin: 0 1rem
    }

    @media only screen and (min-width: 768px) {
      .entry .entry-content {
        max-width: 80%;
        margin: 0 10%;
        padding: 0 60px
      }
    }

    .entry .entry-content p {
      word-wrap: break-word
    }

    .entry .entry-content a {
      text-decoration: underline
    }

    .entry .entry-content a:hover {
      text-decoration: none
    }

    @media only screen and (min-width: 768px) {
      .hfeed .entry .entry-header {
        margin: calc(3 * 1rem) calc(10% + 60px) calc(1rem / 2)
      }
    }

    #colophon .widget-area,
    #colophon .site-info {
      margin: calc(2 * 1rem) 1rem
    }

    @media only screen and (min-width: 768px) {

      #colophon .widget-area,
      #colophon .site-info {
        margin: calc(3 * 1rem) calc(10% + 60px)
      }
    }

    #colophon .widget-column {
      display: flex;
      flex-wrap: wrap
    }

    #colophon .widget-column .widget {
      width: 100%
    }

    @media only screen and (min-width: 1168px) {
      #colophon .widget-column .widget {
        margin-right: calc(3 * 1rem);
        width: calc(50% - (3 * 1rem))
      }
    }

    #colophon .site-info {
      color: #767676
    }

    #colophon .site-info a {
      color: inherit
    }

    #colophon .site-info a:hover {
      text-decoration: none;
      color: #0073aa
    }

    #colophon .site-info .imprint {
      margin-right: 1rem
    }

    .widget {
      margin: 0 0 1rem
    }

    .widget a {
      color: #0073aa
    }

    .widget a:hover {
      color: #005177
    }

    .widget_archive ul,
    .widget_categories ul,
    .widget_meta ul,
    .widget_recent_comments ul,
    .widget_recent_entries ul {
      padding: 0;
      list-style: none
    }

    .widget_archive ul li,
    .widget_categories ul li,
    .widget_meta ul li,
    .widget_recent_comments ul li,
    .widget_recent_entries ul li {
      color: #767676;
      font-family: "iA Writer Quattro", sans-serif;
      font-size: calc(22px * 1.125);
      font-weight: 700;
      line-height: 1.2;
      margin-top: .5rem;
      margin-bottom: .5rem
    }

    .widget_archive ul ul,
    .widget_categories ul ul,
    .widget_meta ul ul,
    .widget_recent_comments ul ul,
    .widget_recent_entries ul ul {
      counter-reset: submenu
    }

    .widget_archive ul ul>li>a::before,
    .widget_categories ul ul>li>a::before,
    .widget_meta ul ul>li>a::before,
    .widget_recent_comments ul ul>li>a::before,
    .widget_recent_entries ul ul>li>a::before {
      font-family: "iA Writer Quattro", sans-serif;
      font-weight: normal;
      content: "– "counters(submenu, "– ", none);
      counter-increment: submenu
    }

    .widget_search .search-field {
      width: 100%
    }

    @media only screen and (min-width: 600px) {
      .widget_search .search-field {
        width: auto
      }
    }

    .widget_search .search-submit {
      display: block;
      margin-top: 1rem
    }

    .entry .entry-content>* {
      margin: 32px 0;
      max-width: 100%
    }

    @media only screen and (min-width: 768px) {
      .entry .entry-content>* {
        max-width: calc(8 * (100vw / 12) - 28px)
      }
    }

    @media only screen and (min-width: 1168px) {
      .entry .entry-content>* {
        max-width: calc(6 * (100vw / 12) - 28px)
      }
    }

    @media only screen and (min-width: 768px) {
      .entry .entry-content>* {
        margin: 32px 0
      }
    }

    .entry .entry-content>*>*:first-child {
      margin-top: 0
    }

    .entry .entry-content>*>*:last-child {
      margin-bottom: 0
    }

    .entry .entry-content .entry-content,
    .entry .entry-content .entry {
      margin: inherit;
      max-width: inherit;
      padding: inherit
    }

    @media only screen and (min-width: 768px) {

      .entry .entry-content .entry-content,
      .entry .entry-content .entry {
        margin: inherit;
        max-width: inherit;
        padding: inherit
      }
    }

    svg {
      transition: fill 120ms ease-in-out;
      fill: currentColor
    }

    @media print {
      @media print {
        @page {
          margin: 2cm
        }

        .entry {
          margin-top: 1em
        }

        .entry .entry-header,
        .site-footer .site-info {
          margin: 0
        }

        body {
          font: 13pt Georgia, "Times New Roman", Times, serif;
          line-height: 1.3;
          color: #000
        }

        :root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) body {
          background: #fff
        }

        h1 {
          font-size: 24pt
        }

        h2 {
          font-size: 14pt;
          margin-top: 25px
        }

        a {
          page-break-inside: avoid
        }

        h1,
        h2 {
          page-break-after: avoid;
          page-break-inside: avoid
        }

        ul {
          page-break-before: avoid
        }

        a:link,
        a:visited,
        a {
          background: transparent;
          font-weight: bold;
          text-decoration: underline;
          text-align: left
        }

        a {
          page-break-inside: avoid
        }

        a[href^=http]:after {
          content: " < "attr(href) "> "
        }

        article a[href^="#"]:after {
          content: ""
        }

        a:not(:local-link):after {
          content: " < "attr(href) "> "
        }

        .site-branding-container:before,
        .entry .entry-title:before,
        .entry-footer,
        .widget-area {
          display: none
        }

        :root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) .image-filters-enabled *:after {
          display: none
        }
      }
    }

    :root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) .recentcomments a {
      display: inline;
      padding: 0;
      margin: 0
    }

    table.amplint td {
      vertical-align: baseline;
    }

    table.amplint th {
      text-align: left;
    }
  </style>
</head>

<body class="image-filters-enabled">
  <div id="page" class="site">
    <section id="primary">
      <main id="main" class="site-main">
        <article class="entry">
          <header class="entry-header">
            <h1 class="entry-title">Results</h1>
          </header>
          <div class="entry-content">

            <p>Results for <a href="{{url}}">{{url}}</a>:</p>

            {{{body}}}

          </div>
        </article>
      </main>
    </section>
  </div>
</body>

</html>